.card-container
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:3rem;
    margin-top:30px;
    margin-left:90px;
}

.submit-btn
{
    margin-top:12px;
    padding:4px 10px;
}

.list_group_item
{
    text-align:start;
    
}
.title
{
    text-align:start;
    
}

.download-btn
{
    margin:12px;
    padding:3px 5px;
}

.loading
{
    color:green;
    margin-top:10px;
}